[submodule "YogiJogi_Backend"]
	path = YogiJogi_Backend
	url = https://github.com/Limgayoung/YogiJogi_Backend
[submodule "YogiJogi_Frontend"]
	path = YogiJogi_Frontend
	url = https://github.com/Limgayoung/YogiJogi_Frontend
